{% extends 'dashboard.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Product create{% endblock %}

{% block content-m %}

    {% if messages %}
        <ul class="messages" style="padding: 0px;">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <table class="table table-striped" id="table_id">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type product</th>
            <th>Type eater</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for Product in object_list %}
            <tr>
                <td>{{ Product.name }}</td>
                <td>{{ Product.description }}</td>
                <td>{{ Product.type_product }}</td>
                <td>{{ Product.type_eater }}</td>
                <td>{{ Product.price }}</td>
                <td>
                    <a class="btn btn-warning"
                       href="{% url 'user_management:product-update' Product.id %}">
                        <i class='far fa-edit'></i>
                    </a>
                    <a class="btn btn-danger"
                       href="{% url 'user_management:product-delete' Product.id %}">
                        <i class='far fa-trash-alt'></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary"
       href="{% url 'user_management:product-add' %}">
        <i class='fas fa-plus mr-1'></i>
    </a>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable();
        });
    </script>


{% endblock %}