{% extends 'dashboard.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Product create{% endblock %}

{% block content-m %}
    <canvas id="myChart"></canvas>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            var key=[], value=[];
            {% for  key, value in items %}
                key.push({{ key }})
                value.push({{ value }})
            {% endfor %}

            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: key,
                    datasets: [{
                        label: ['total order for day'],
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: value,
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                        display: true,
                        text: 'Monthly order'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                max: Math.max.apply(null, value)+3,
                                min: 0,
                                stepSize: 1
                            }
                        }]
                    }
                }
            });

        });
    </script>
{% endblock %}