{% extends "base.html" %}

{% block content %}
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button form-sub" style="margin-top: 22px">Send me instructions!</button>
    </form>
{% endblock %}