{% extends "home.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
        <table class="table">
            <tr>
                <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                <th><h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5></th>
                <th>
                    {% if order.get_cart_items == 0 %}
                    <a  style="float:right; margin:5px;" id="checkdis" class="btn btn-success disabled " href="{% url 'client:checkout' %}">Checkout</a>
                    {% else %}
                    <a  style="float:right; margin:5px;" id="checkdis" class="btn btn-success " href="{% url 'client:checkout' %}">Checkout</a>
                    {% endif %}
                </th>
            </tr>
        </table>
    </div>

    <br>

    <div class="content">
        <table class="table table-striped" id="table_id">
            <thead>
              <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Aggiunte</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><p>{{item.product.name}}</p></td>
                        <td><p>{{item.size}}</p></td>
                        <td><p>{{item.quantity}}</p></td>
                        <td><p>{{item.addpizza.name}}</p></td>
                        <td><p>€{{item.get_total|floatformat:2}}</p></td>
                        <td>
                            <a class="btn btn-danger"
                               href="{% url 'client:cart-delete' item.id %}">
                                <i class='far fa-trash-alt'></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block javascript %}

    <script type="text/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable();
        });
    </script>


{% endblock %}