{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <h3>Order Summary</h3>
                <hr>
                <table class="table table-striped" id="table_id">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td><p>{{item.product.name}}</p></td>
                            <td><p>{{item.quantity}}</p></td>
                            <td><p>${{item.get_total|floatformat:2}}</p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h5>Items:   {{order.get_cart_items}}</h5>
                <h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
            </div>
        </div>
    </div>
{% endblock content %}