{% extends 'home.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Cart delete{% endblock %}

{% block content-m %}
    <h1>Delete product</h1>
    <p>Vuoi davvero cancellare l'utente?</p>
    <p>Pizza name: {{ object.name }}</p>
    <form method="post">{% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">
        <a class="btn btn-secondary"
           href="{% url 'client:cart' %}">
            Cancel
        </a>
    </form>
{% endblock %}