{% extends 'dashboard.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Booking create{% endblock %}

{% block content-m %}
    <table class="table table-striped" id="table_id">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for Booking in object_list %}
            <tr>
                <td>{{ Booking.name }}</td>
                <td>{{ Booking.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
