{% extends "home.html" %}

{% block content-m %}
    <div class="container-md">
        <h2 class="mb-3">Profilo utente</h2>
        <div class="row">
            <div class="col-md-6">
                <h4>Username</h4>
                <p>
                    {{ user.first_name}}
                </p>
            </div>
            <div class="col-md-6">
                <h4>Email</h4>
                <p>
                    {{ user.email }}
                </p>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills"  role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#booking" aria-controls="booking" role="tab" data-toggle="tab">Booking</a></li>
        <li class="nav-item"><a class="nav-link " href="#order" aria-controls="order" role="tab" data-toggle="tab">Order</a></li>
        <li class="nav-item"><a class="nav-link " href="#old_order" aria-controls="old_order" role="tab" data-toggle="tab">Old Order</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active"  id="booking">
            <table class="table table-striped" id="table_id">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date start</th>
                    <th>Date end</th>
                    <th>Chair</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for Booking in object_list %}
                    <tr>
                        <td>{{ Booking.name }}</td>
                        <td>{{ Booking.description }}</td>
                        <td>{{ Booking.date_start }}</td>
                        <td>{{ Booking.date_end }}</td>
                        <td>{{ Booking.chair }}</td>
                        <td>
                            <a class="btn btn-danger"
                               href="{% url 'client:booking-delete' Booking.id %}">
                                <i class='far fa-trash-alt'></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane " id="order">
            <table class="table table-striped" id="table_id2">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in order_items_false %}
                    <tr>
                        <td><p>{{item.product.name}}</p></td>
                        <td><p>{{item.size}}</p></td>
                        <td><p>{{item.quantity}}</p></td>
                        <td><p>€{{item.product.price|floatformat:2}}</p></td>
                        <td>
                            <a class="btn btn-danger"
                               href="{% url 'client:cart-delete' item.id %}">
                                <i class='far fa-trash-alt'></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane " id="old_order">
            <table class="table table-striped" id="table_id3">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order_items_true %}
                    <tr>
                        <td><p>{{item.product.name}}</p></td>
                        <td><p>{{item.size}}</p></td>
                        <td><p>{{item.quantity}}</p></td>
                        <td><p>€{{item.product.price|floatformat:2}}</p></td>
                        <td><p>{{item.order.date_ordered}}</p></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>



{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable();
            $('#table_id2').DataTable();
            $('#table_id3').DataTable();
        });
    </script>


{% endblock %}