{% extends "main.html" %}

{% load crispy_forms_tags %}
{% block search %}
        <form class="form-inline my-2 my-lg-0" method="post">
            {% csrf_token %}
            {{ form | crispy   }}
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>


{% endblock %}