input[type='text'],input[type='number'],input[type='search'],input[type='password'],input[type='email'],input[type='url'],input[type='tel'],.selectize-input,textarea,.ql-container .ql-editor,select,.input-with-prefix{
    font-family:'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:24px;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height:40px;
    padding:10px 16px;
    outline:none;
    border-radius:8px;
    -webkit-transition:background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition:background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition:background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition:background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    color:#0d0c22;
    background-color:#f3f3f4
}
@media (min-width: 768px){
    input[type='text'],input[type='number'],input[type='search'],input[type='password'],input[type='email'],input[type='url'],input[type='tel'],.selectize-input,textarea,.ql-container .ql-editor,select,.input-with-prefix{
        font-size:14px
    }
}
input:hover[type='text'],input:hover[type='number'],input:hover[type='search'],input:hover[type='password'],input:hover[type='email'],input:hover[type='url'],input:hover[type='tel'],.selectize-input:hover,textarea:hover,.ql-container .ql-editor:hover,select:hover,.input-with-prefix:hover{
    background-color:#fff;
    border-color:rgba(0,0,0,0.1);
    -webkit-box-shadow:0 0 0 4px rgba(234,76,137,0.1);
    box-shadow:0 0 0 4px rgba(234,76,137,0.1)
}
input:focus[type='text'],input:focus[type='number'],input:focus[type='search'],input:focus[type='password'],input:focus[type='email'],input:focus[type='url'],input:focus[type='tel'],.selectize-input:focus,textarea:focus,.ql-container .ql-editor:focus,select:focus,.input-with-prefix:focus{
    background-color:#fff;
    border-color:rgba(234,76,137,0.4);
    -webkit-box-shadow:0 0 0 4px rgba(234,76,137,0.1);
    box-shadow:0 0 0 4px rgba(234,76,137,0.1)
}

input.input-with-error[type='text'],input.input-with-error[type='number'],input.input-with-error[type='search'],input.input-with-error[type='password'],input.input-with-error[type='email'],input.input-with-error[type='url'],input.input-with-error[type='tel'],.input-with-error.selectize-input,textarea.input-with-error,.ql-container .input-with-error.ql-editor,select.input-with-error,.input-with-error.input-with-prefix{
    background:#ffeeee;
    color:#ff5555
}
.selectize-input input[type='text'],.selectize-input input[type='number'],.selectize-input input[type='search'],.selectize-input input[type='password'],.selectize-input input[type='email'],.selectize-input input[type='url'],.selectize-input input[type='tel'],.selectize-input .selectize-input,.selectize-input textarea,.selectize-input .ql-container .ql-editor,.ql-container .selectize-input .ql-editor,.selectize-input select,.selectize-input .input-with-prefix{
    height:auto;
    padding:7px 16px
}
fieldset.fieldWithErrors input[type='text'],fieldset.fieldWithErrors input[type='number'],fieldset.fieldWithErrors input[type='search'],fieldset.fieldWithErrors input[type='password'],fieldset.fieldWithErrors input[type='email'],fieldset.fieldWithErrors input[type='url'],fieldset.fieldWithErrors input[type='tel'],fieldset.fieldWithErrors .selectize-input,fieldset.fieldWithErrors textarea,fieldset.fieldWithErrors .ql-container .ql-editor,.ql-container fieldset.fieldWithErrors .ql-editor,fieldset.fieldWithErrors select,fieldset.fieldWithErrors .input-with-prefix{
    background:#ffeeee;
    color:#ff5555
}
fieldset.fieldWithErrors input[type='text']:before,fieldset.fieldWithErrors input[type='number']:before,fieldset.fieldWithErrors input[type='search']:before,fieldset.fieldWithErrors input[type='password']:before,fieldset.fieldWithErrors input[type='email']:before,fieldset.fieldWithErrors input[type='url']:before,fieldset.fieldWithErrors input[type='tel']:before,fieldset.fieldWithErrors .selectize-input:before,fieldset.fieldWithErrors textarea:before,fieldset.fieldWithErrors .ql-container .ql-editor:before,.ql-container fieldset.fieldWithErrors .ql-editor:before,fieldset.fieldWithErrors select:before,fieldset.fieldWithErrors .input-with-prefix:before{
    content:' ';
    width:16px;
    height:16px;
    color:#fff;
    border:1px solid #fff;
    background:red;
    border-radius:50%;
    position:absolute;
    top:0;
    right:0
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0
}
input[type='number']{
    -moz-appearance:textfield
}
input[type='text'],input[type='number'],input[type='search'],input[type='password'],input[type='email'],input[type='url'],input[type='tel'],.selectize-input{
    border:1px solid transparent
}
input[type='text']::-webkit-input-placeholder,input[type='number']::-webkit-input-placeholder,input[type='search']::-webkit-input-placeholder,input[type='password']::-webkit-input-placeholder,input[type='email']::-webkit-input-placeholder,input[type='url']::-webkit-input-placeholder,input[type='tel']::-webkit-input-placeholder,.selectize-input::-webkit-input-placeholder{
    color:#9e9ea7
}
input[type='text']:-ms-input-placeholder,input[type='number']:-ms-input-placeholder,input[type='search']:-ms-input-placeholder,input[type='password']:-ms-input-placeholder,input[type='email']:-ms-input-placeholder,input[type='url']:-ms-input-placeholder,input[type='tel']:-ms-input-placeholder,.selectize-input:-ms-input-placeholder{
    color:#9e9ea7
}
input[type='text']::-ms-input-placeholder,input[type='number']::-ms-input-placeholder,input[type='search']::-ms-input-placeholder,input[type='password']::-ms-input-placeholder,input[type='email']::-ms-input-placeholder,input[type='url']::-ms-input-placeholder,input[type='tel']::-ms-input-placeholder,.selectize-input::-ms-input-placeholder{
    color:#9e9ea7
}
input[type='text']::placeholder,input[type='number']::placeholder,input[type='search']::placeholder,input[type='password']::placeholder,input[type='email']::placeholder,input[type='url']::placeholder,input[type='tel']::placeholder,.selectize-input::placeholder{
    color:#9e9ea7
}

.input-with-icon input[type='text'],.input-with-icon input[type='search'],.input-with-icon input[type='password'],.input-with-icon input[type='email'],.input-with-icon input[type='url'],.input-with-icon input[type='tel']{
    padding-left:44px
}
.input-toggle{
    display:-ms-inline-flexbox;
    display:inline-flex;
    font-family:'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:20px;
    color:#3d3d4e
}
.input-toggle .input-toggle-label{
    margin-right:12px
}
.input-toggle .input-toggle-control{
    -webkit-transition:all 200ms ease;
    transition:all 200ms ease;
    width:38px;
    height:22px;
    border-radius:20px;
    background-color:#e7e7e9;
    position:relative;
    cursor:pointer
}
.input-toggle .input-toggle-control:hover,.input-toggle .input-toggle-control:focus{
    background-color:#dbdbde
}
.input-toggle .input-toggle-control:after{
    content:'';
    -webkit-transition:all 200ms ease;
    transition:all 200ms ease;
    width:14px;
    height:14px;
    background-color:#9e9ea7;
    border-radius:50%;
    position:absolute;
    top:4px;
    left:4px
}
.input-toggle input{
    display:none
}
.input-toggle input:checked+.input-toggle-control{
    background-color:rgba(234,76,137,0.4)
}
.input-toggle input:checked+.input-toggle-control:after{
    background-color:red;
    left:20px
}
.check-strip input[type='radio']{
    display:none
}
.check-strip fieldset label{
    height:40px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    float:left;
    border:1px solid #e7e7e9;
    color:#9e9ea7;
    padding:10px 16px;
    font-family:'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:20px;
    cursor:pointer;
    margin:0 -1px 0 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-transition:all 200ms ease;
    transition:all 200ms ease
}
@media only screen and (max-width: 959px){
    .check-strip fieldset label{
        float:none;
        margin:0 0 -1px;
        display:block
    }
}
.check-strip fieldset label:hover{
    color:#0d0c22;
    background-color:#e7e7e9
}
.check-strip fieldset label.selected{
    background-color:red;
    color:#fff;
    border-color:#ea4c89;
    z-index:1;
    position:relative
}
@media (max-width: 767px){
    .check-strip fieldset label.selected{
        border-left-color:#ea4c89
    }
}
.check-strip fieldset label:first-of-type{
    border-radius:8px 0 0 8px
}
@media (max-width: 767px){
    .check-strip fieldset label:first-of-type{
        border-radius:8px 8px 0 0
    }
}
.check-strip fieldset label:last-of-type{
    border-radius:0 8px 8px 0
}
@media (max-width: 767px){
    .check-strip fieldset label:last-of-type{
        border-radius:0 0 8px 8px
    }
}
div.captcha-not-loaded{
    display:none;
    background-position:0 7px
}
.payment-and-price .purchase-pro .price-table{
    display:none
}
.pro-order-summary .annual,.pro-order-summary .monthly{
    display:none
}
.pro-order-summary .annual.selected,.pro-order-summary .monthly.selected{
    display:block
}
form.with-messages div.form-field{
    position:relative
}
form.with-messages div.form-field span.counter{
    position:absolute;
    top:12px;
    right:0
}
form.with-messages div.form-field.custom-text{
    display:none
}
form.with-messages div.form-field.custom-text textarea,form.with-messages div.form-field.custom-text .ql-container .ql-editor,.ql-container form.with-messages div.form-field.custom-text .ql-editor{
    height:65px
}
form.with-messages div.form-field.settings{
    float:left
}
form.with-messages div.form-field.publish-time{
    float:right
}
form.with-messages div.form-field.settings,form.with-messages div.form-field.publish-time{
    width:48%
}
@media only screen and (max-width: 739px){
    form.with-messages div.form-field.settings,form.with-messages div.form-field.publish-time{
        float:none;
        width:auto
    }
}
form.with-messages div.form-field.team fieldset label,form.with-messages div.form-field.settings fieldset label,form.with-messages div.form-field.publish-time fieldset label{
    display:block;
    font-weight:inherit;
    font-size:inherit;
    line-height:inherit;
    margin-top:0;
    margin-bottom:4px
}
form.with-messages div.form-field.wysiwyg textarea,form.with-messages div.form-field.wysiwyg .ql-container .ql-editor,.ql-container form.with-messages div.form-field.wysiwyg .ql-editor{
    border-radius:0 0 6px 6px
}
form.with-messages div.form-field .message{
    font-family:'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:20px;
    color:#9e9ea7;
    margin:4px 0 8px
}

.form-sub,.form-btn,a.form-sub,a.form-btn{
    display:inline-block;
    padding:10px 16px;
    cursor:pointer;
    border:none;
    text-decoration:none;
    background: red;
    -webkit-transition:all 200ms ease;
    transition:all 200ms ease;
    border-radius:8px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    position:relative;
    outline:none;
    font-family:'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:500;
    line-height:20px;
    height:40px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center
}

.form-sub,a.form-sub{
    color:#fff
}

.form-btn,a.form-btn{
    background:#f3f3f4;
    color:#0d0c22
}
.form-btn:hover,.form-btn:focus,a.form-btn:hover,a.form-btn:focus{
    background-color:#e7e7e9
}
.form-btn:active,a.form-btn:active{
    background-color:#dbdbde
}

html,body{
    height:100%
}
body{
    font-family:"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:62.5%;
    color:#0d0c22;
    background:#fff;
    padding:0;
    margin:0
}

h1{
    font:bold 32px/38px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif
}

form fieldset{
    margin:0 0 12px
}
label{
    display:block;
    font:bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:14px 0 4px;
    color:#0d0c22
}
input[type='checkbox']+label{
    display:block
}
.opt-in label{
    font:normal 14px/18px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#6e6d7a;
    margin:18px 0 0;
    position:relative;
    padding-left:26px
}
.opt-in label:before{
    position:absolute;
    top:0;
    left:0
}
label.password a{
    font-weight:normal;
    float:right;
    position:relative;
    top:6px;
    font-size:14px
}

@media (min-width: 400px){
    div.form-field-group{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
    div.form-field-group .form-field{
        width:48%
    }
}

@media (min-width: 960px){
    #main-container{
        height:100%;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-direction:row;
        flex-direction:row;
        overflow:hidden
    }
}
.auth-sidebar{
    position:relative;
    color:#000
}
@media (min-width: 960px){
    .auth-sidebar{
        width:450px;
        -ms-flex-positive:0;
        flex-grow:0
    }
    .sign-in .auth-sidebar,.forgot-password .auth-sidebar,.reset-password .auth-sidebar{
        background:#f1cdd7;
        color:#28a745
    }
    .sign-up .auth-sidebar{
        background:#f2d184;
        color:#866118
    }
}
@media (min-width: 1100px){
    .auth-sidebar{
        width:514px
    }
}
@media (min-width: 960px){
    .auth-sidebar .auth-sidebar-content{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-pack:justify;
        justify-content:space-between;
        height:100%
    }
}
.auth-sidebar a{
    color:inherit;
    text-decoration:underline
}
.auth-sidebar header{
    margin:0 auto;
    max-width:416px;
    padding:48px 20px 0;
    text-align:left
}
@media (min-width: 960px){
    .auth-sidebar header{
        max-width:100%;
        margin:0;
        padding:40px 40px 30px
    }
}
@media (min-width: 1100px){
    .auth-sidebar header{
        padding:64px 64px 30px
    }
}
.auth-sidebar header .logo{
    display:block;
    margin-bottom:30px
}
@media (min-width: 960px){
    .auth-sidebar header .logo{
        opacity:0.7
    }
    .auth-sidebar header .logo:hover{
        opacity:0.9
    }
}
.auth-sidebar header .dribbble-logo{
    fill:currentColor;
    color:inherit;
    width:90px;
    height:auto
}
.auth-sidebar header h1{
    color:inherit;
    display:none;
    font:bold 32px/38px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif
}
@media (min-width: 960px){
    .auth-sidebar header h1{
        display:block;
        padding-right:30px
    }
}
@media (max-height: 850px){
    .auth-sidebar header h1{
        font-size:25px;
        line-height:30px
    }
}
.auth-sidebar .artwork{
    display:none
}
@media (min-width: 960px){
    .auth-sidebar .artwork{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-pack:end;
        justify-content:flex-end;
        -ms-flex-positive:1;
        flex-grow:1
    }
}
.auth-sidebar .artwork .artwork-image{
    -ms-flex-positive:1;
    flex-grow:1;
    background-repeat:no-repeat;
    background-position:bottom center;
    background-size:cover
}
@media (max-width: 961px), (max-height: 730px){
    .auth-sidebar .artwork .artwork-image{
        display:none
    }
}
@media (min-height: 960px){
    .auth-sidebar .artwork .artwork-image{
        max-height:70%
    }
}

.auth-sidebar .artwork .artwork-attribution{
    font-size:14px;
    line-height:14px;
    color:inherit;
    padding:25px 64px 35px;
    margin:0
}
@media (max-width: 961px), (max-height: 730px){
    .auth-sidebar .artwork .artwork-attribution{
        display:none
    }
}
.content{
    width:100%
}
@media (min-width: 960px){
    .content{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex:1;
        flex:1;
        overflow:auto
    }
}
.auth-nav{
    display:none;
    position:relative
}

main{
    margin:0 auto;
    padding:0 20px
}
@media (min-width: 960px){
    main{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-align:center;
        align-items:center;
        -ms-flex-pack:center;
        justify-content:center;
        -ms-flex-positive:1;
        flex-grow:1;
        margin:0;
        padding:0
    }
}
.auth-content{
    width:100%;
    max-width:416px;
    margin:auto
}
