{% extends 'dashboard.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Product update{% endblock %}

{% block content-m %}
    <h1>Update {{ object.name }} data</h1>
{#    <form method="post">{% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input class="btn btn-success" type="submit" value="Save">#}
{#    </form>#}
    {% crispy form %}
{% endblock %}