{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}ingredienti create{% endblock %}

{% block content-m %}
    <h1>Create new ingredienti</h1>
{#    <form method="post">{% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input class="btn btn-success" type="submit" value="Create">#}
{#    </form>#}
    {% crispy form %}
{% endblock %}




{% block javascript %}

    <script type="text/javascript">
        $(document).ready( function () {
            $("#id_date_buy").datepicker({
              format:'yyyy-mm-dd',
            });

            //$("#id_date_buy").bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm' });

            /*$("#id_date_end").datepicker({
              format:'yyyy-mm-dd',
            });*/
        });
    </script>


{% endblock %}