{% extends "home.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content-m %}
    <div class="container">
        {% if messages %}
            <ul class="messages" style="padding: 0px;">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy  }}
                <button type="submit" class="btn btn-success" style="margin-top: 22px">save</button>
            </form>
        </div>
    </div>

{% endblock %}



{% block javascript %}

    <script type="text/javascript">
        $(document).ready( function () {
            /*$("#id_date_start").datepicker({
              format:'yyyy-mm-dd',
            });
             */
            //new Date(new Date().getUTCFullYear(), 12)
            //$("#id_date_start,#id_date_end").bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm' });

            $('#id_date_end').bootstrapMaterialDatePicker({ disabledDays: [2], weekStart : 1, format : 'DD/MM/YYYY HH:mm' });
            $('#id_date_end').prop('disabled', true);
            $('#id_date_start').bootstrapMaterialDatePicker({ disabledDays: [2], weekStart : 1,format : 'DD/MM/YYYY HH:mm', minDate : new Date(), maxDate : new Date(new Date().getUTCFullYear(), 12) }).on('change', function(e, date)
            {
                // , 'maxDate', new Date(new Date().getUTCFullYear(), new Date().getMonth(), new Date().getDay()-1, 23 )
                $('#id_date_end').prop('disabled', false);
                //alert(date)
                $('#id_date_end').bootstrapMaterialDatePicker('setMinDate', date);
            });

            /*$("#id_date_end").datepicker({
              format:'yyyy-mm-dd',
            });*/
        });
    </script>


{% endblock %}