{% extends "home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Booking delete{% endblock %}

{% block content-m %}
    <h1>Delete Booking</h1>
    <p>Vuoi davvero cancellare il Booking?</p>
    <p>Booking name: {{ object.name }}</p>
    <form method="post">{% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">
        <a class="btn btn-secondary"
           href="{% url 'client:profile' %}">
            Cancel
        </a>
    </form>
{% endblock %}