{% extends "home.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        {% if messages %}
            <ul class="messages" style="padding: 0px;">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <h1 class="card-title" ><strong>{{product.name}}</strong></h1>
            <h3>     Rate :{{ count }}</h3>
            <div id="id_rate2"></div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{product.image.url}}" class="card-img-top">
            </div>
            <div class="col">
                <p class="card-text">{{ product.description }}</p>
                <h4 style="display: inline-block; float: right"><strong>€{{product.price}}</strong></h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy  }}
                    <button type="submit"  class="button btn btn-success form-sub"  style="margin-top: 22px">add to cart</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>Write your review</h4>
        <div id="id_rate"></div>
        <input type="text" id="fname" name="fname">
        <button type="button" data-product="{{ product.id }}" class="button btn btn-success form-sub send_data"  style="margin-top: 22px">add to cart</button>
    </div>

    <div class="container">
        {% for iteam in comment %}
            <p><strong>{{iteam.customer.first_name}}</strong> : {{ iteam.comment }}</p>
        {% endfor %}
    </div>
    <br>
    <h3>Recommend for you</h3>
    <div class="row">
        {% for product2 in ycomment %}
            <div class="col-md-4" style=" padding: 20px">
                <div class="card" style="width: 24rem;">
                    <img src="{{product2.product.image.url}}" class="img-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{product2.product.name}}</strong></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'client:detail' product2.product.id %}" class="btn btn-success add-btn update-cart">view</a>
                        <h4 style="display: inline-block; float: right"><strong>€{{product2.product.price}}</strong></h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for product2 in products2 %}
            <div class="col-md-4" style=" padding: 20px">
                <div class="card" style="width: 24rem;">
                    <img src="{{product2.image.url}}" class="img-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{product2.name}}</strong></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'client:detail' product2.id %}" class="btn btn-success add-btn update-cart">view</a>
                        <h4 style="display: inline-block; float: right"><strong>€{{product2.price}}</strong></h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_rate").rateYo({
                rating: 5
            });

            $("#id_rate2").rateYo({
                rating: {{ media_star }},
                readOnly: true

            });

            $(".send_data").click(function () {
                var normalFill = $("#id_rate").rateYo("option", "rating");
                var ci = $(this).attr("data-product");
                //alert(ci);
                var text_coment = $("#fname").val()
                $.ajax({
                    type: 'POST',
                    url: '{% url "client:comment" %}',
                    data: {
                        product: ci, comment: text_coment, rate: normalFill, csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_taken) {
                            alert("ottimo");
                        }
                        else {
                            alert("maleeeeeeeeeeee.");
                            //window.location.assign("/accounts/login?next=" + window.location.pathname)

                        }
                    },
                    error : function (richiesta,stato,errori) {
                        alert("E' evvenuto un errore. Il stato della chiamata: "+stato);
                    }
                });

            });

        });

    </script>



{% endblock %}