{% extends "search.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="alert alert-success fade in" id="bsalert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Info!</strong> This alert box could indicate a neutral informative or action
    </div>
    <form class="form-inline my-2 my-lg-0" method="get">
        {% csrf_token %}
        {{ form2 | crispy   }}
    </form>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3" style=" padding: 20px">
                <div class="card" style="width: 24rem;">
                    <img src="{{product.image.url}}" class="img-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{product.name}}</strong></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button data-product="{{ product.id }}" type="button" data-action="add" class="btn btn-outline-secondary add-btn update-cart send_data">Add to Cart</button>
                        <a href="{% url 'client:detail' product.id %}" class="btn btn-success add-btn update-cart">view</a>
                        <h4 style="display: inline-block; float: right"><strong>€{{product.price}}</strong></h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        $(document).ready(function(){
            function toggleAlert(){
                $(".alert").toggleClass('in show');
                return false; // Keep close.bs.alert event from removing from DOM
            }
            $('#bsalert').on('close.bs.alert', toggleAlert);

            $(".send_data").click(function () {
                var ci = $(this).attr("data-product");
                //alert(ci);

                $.ajax({
                    type: 'POST',
                    url: '{% url "client:nornal" %}',
                    data: {
                        username: ci, csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_taken) {
                            //alert("A user with this username already exists.");
                            $(".alert").toggleClass('in show');
                            //return false;
                        }
                        else {
                            //alert("maleeeeeeeeeeee.");
                            window.location.assign("/accounts/login?next=" + window.location.pathname)

                        }
                    },
                    error : function (richiesta,stato,errori) {
                        alert("E' evvenuto un errore. Il stato della chiamata: "+stato);
                    }
                });

            });

        });

    </script>



{% endblock %}