{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}add pizza create{% endblock %}

{% block content-m %}
    <h1>Create new add pizza</h1>
{#    <form method="post">{% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input class="btn btn-success" type="submit" value="Create">#}
{#    </form>#}
    {% crispy form %}
{% endblock %}