{% extends 'dashboard.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}add pizza delete{% endblock %}

{% block content-m %}
    <h1>Delete add pizza</h1>
    <p>Vuoi davvero cancellare il add pizza?</p>
    <p>add pizza name: {{ object.name }}</p>
    <form method="post">{% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">
        <a class="btn btn-secondary"
           href="{% url 'user_management:product-view' %}">
            Cancel
        </a>
    </form>
{% endblock %}