{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/login.css' %}" >
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="logged-out not-pro not-player not-self not-team not-on-team  sign-in">
<div id="main-container">
    <section class="auth-sidebar">
        <div class="auth-sidebar-content">
            <header>
                <h1><a href="/" class="logo">PIZZA</a></h1>
                <h1>Discover the world’s Pizza.</h1>
            </header>
            <div class="artwork">
                <div class="artwork-image"></div>
            </div>
        </div>
    </section>
    <section class="content">
        <main>
            <div class="auth-content">
                <h1>Sign in to Pizza</h1>

                <div class="auth-form sign-in-form">

                    {% block content %}


                    {% endblock content %}
                </div>
            </div>
        </main>
    </section>
</div>
</body>
</html>
