{% extends "base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button form-sub" style="margin-top: 22px">Login</button>
    </form>
    <h3>
        Not a member? <a href="{% url 'user_management:user-register' %}">Sign up now</a>
    </h3>
    <h3>
        Not a member? <a href="{% url 'user_management:password_reset' %}">Password reset</a>
    </h3>

{% endblock content %}