{% extends "base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button form-sub" style="margin-top: 22px">Create</button>
    </form>
{% endblock content %}